body{
    font-family: 'Handlee', cursive;
}

nav{
    font-family: 'Montserrat', sans-serif;
}

footer{
    font-family: 'Montserrat', sans-serif;
}


.top_logo img{    
    height: 80px;
    position: relative;
    left: 50%;
    margin-top: 2em;
    transform: translateX(-50%) translateY(-20%);
}

.carousel-caption h1{
font-size: 150px;
}

.carousel-caption p{
    font-size: 100px;
}


.product{
    margin-top: 2em;
}

.product img{
    width: 100%;
}

#add-to-cart{
    margin-bottom: 10px;
    float: right;
    position: relative;
    bottom: 35px;
}

footer p{
    background-color: black;
    color: lightgray;
    text-align: center;
    height: auto;
    padding: 1em;
}


.minis-template-single-product img{
    width: 100%;
    width: 50%;
    margin-bottom: 10px;
    
}

.big-img-template-single-product img{
    width: 100%;
}